.form-messages {
  display: flex;
  width: 100%;
  height: 0;
  max-width: 400px;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin-bottom: 30px;
  background-color: #f5f5f5;
  position: relative;
  opacity: 0;
  transition: all 1s;
}
.form-messages.show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}
.form-messages[data-state='info'] {
  background-color: var(--info-color);
  color: var(--info-color-anti);
}
.form-messages[data-state='success'] {
  background-color: var(--success-color);
  color: var(--success-color-anti);
}
.form-messages[data-state='error'] {
  background-color: var(--error-color);
  color: var(--error-color-anti);
}
.form-messages > .icon {
  display: none;
  width: 100px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.form-messages[data-state='info'] > .icon.fa-info-circle,
.form-messages[data-state='success'] > .icon.fa-check,
.form-messages[data-state='error'] > .icon.fa-shield {
  display: inline-block;
}
.form-messages > .message {
  margin-right: 60px;
}
.form-messages > .close {
  width: 40px;
  line-height: 20px;
  font-size: 20px;
  margin-left: auto;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.form {
  display: flex;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: #fefefe;
  box-shadow: 0 4px 10px #0002;
}
.form > .form-row {
  display: flex;
  width: 100%;
}
.form > .form-row > label {
  width: 200px;
  float: left;
  margin-bottom: 5px;
  font-size: 18px;
}
.form > .form-row > .hint {
  float: right;
  font-size: 18px;
  background-color: transparent;
  border: none;
}
.form > .form-row > .hint:hover {
  color: var(--primary-color);
}
.form > .form-row > input {
  width: 100%;
  padding: 0 10px;
  line-height: 36px;
  font-size: 22px;
}
.form > .form-row > textarea {
  width: 100%;
  min-height: 104px;
  max-height: 300px;
  padding: 0 10px;
  line-height: 22px;
  font-size: 18px;
  resize: vertical;
}
.form > .form-row > button[type='submit'] {
  padding: 0 20px;
  line-height: 40px;
  font-size: 22px;
  color: #fff;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}
.form > .form-row > button[type='submit']:hover {
  background-color: #14d;
}
