.table {
  display: inline-block;
  width: 100%;
  max-width: 800px;
  border: 1px solid #ccc;
  font-size: 18px;
  line-height: 30px;
}
.table > .head {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: #ddd;
}
.table > .content {
  display: inline-block;
  width: 100%;
}
.table > .content > .item {
  display: inline-block;
  width: 100%;
}
.table > .content > .item:nth-child(even) {
  background-color: #f5f5f5;
}
.table .cell {
  float: left;
  padding: 10px;
}
.table button {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.table .cell:nth-child(1) {
  width: 40px;
}
.table .cell:nth-child(2) {
  width: calc(100% - 380px);
}
.table .cell:nth-child(3) {
  width: 140px;
}
.table .cell:nth-child(4) {
  width: 100px;
}
.table .cell:nth-child(5) {
  width: 100px;
}

@media (max-width: 750px) {
  .table .cell:nth-child(2) {
    width: calc(100% - 280px);
  }
  .table .cell:nth-child(4) {
    display: none;
  }
}

@media (max-width: 600px) {
  .table .cell:nth-child(2) {
    width: calc(100% - 140px);
  }
  .table .cell:nth-child(3) {
    display: none;
  }
}
