/* base */
@import '../base/reset.css';
@import '../base/variables.css';
@import '../base/base.css';
/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';
/* components */
@import '../components/button.css';
@import '../components/header.css';
@import '../components/form.css';
@import '../components/footer.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
