<section class="center-form">
    <h2 class="section-title">Login</h2>

    <div class="form-messages" data-state="info">
        <i class="icon fa fa-info-circle"></i>
        <i class="icon fa fa-check"></i>
        <i class="icon fa fa-shield"></i>
        <p class="message">Some message Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        <i class="close fa fa-times"></i>
    </div>

    <form class="form">
        <div class="form-row">
            <label for="email">Email</label>
            <input id="email" type="email">
        </div>
        <div class="form-row">
            <label for="pass">Password</label>
            <input id="pass" type="password">
        </div>
        <div class="form-row">
            <button type="submit">Login</button>
        </div>
    </form>
</section>