<section>
    <h2>Register</h2>
    <form class="form">
        <div class="form-row">
            <label for="text">Username</label>
            <input type="text">
        </div>
        <div class="form-row">
            <label for="email">Email</label>
            <input type="email">
        </div>
        <div class="form-row">
            <label for="password">Password</label>
            <input type="password">
        </div>
        <div class="form-row">
            <label for="re-pass">Repeat password</label>
            <input type="re-pass">
        </div>
        <div class="form-row">
            <button type="submit">Register</button>
        </div>
    </form>
</section>