<section>
    <h2 class="section-title">Services</h2>
    <div class="services-list">
        <div class="service">
            <i class="icon fa fa-globe"></i>
            <div class="title">Service title</div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi praesentium voluptatibus tempora error ut beatae.</p>
            <a class="more" href="/services/service-1">Read more<i class="fa fa-angle-right"></i></a>
        </div>
        <div class="service">
            <i class="icon fa fa-globe"></i>
            <div class="title">Service title</div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi praesentium voluptatibus tempora error ut beatae.</p>
            <a class="more" href="/services/service-1">Read more<i class="fa fa-angle-right"></i></a>
        </div>
        <div class="service">
            <i class="icon fa fa-globe"></i>
            <div class="title">Service title</div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi praesentium voluptatibus tempora error ut beatae.</p>
            <a class="more" href="/services/service-1">Read more<i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</section>